<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ProudCity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="ProudCity Dashboard">
    <meta property="og:locale" content="en_US">
     <!-- Favicon -->
     {% include favicon.html %}
     <!-- CSS -->
     {% include style.html %}
    </head>
  <body data-bs-theme="">
