<nav class="navbar navbar-expand-lg bg-primary text-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/assets/img/proudcity-icon-white.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="ProudCity">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navContent"
      aria-controls="navContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/dashboard">
            <i
              class="fa-solid fa-gauge"
              aria-hidden="true"
              style="color: #ffffff;"></i>
            Dashboard</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="https://help.proudcity.com/"
            target="_blank">
            <i
              class="fa-solid fa-heart"
              aria-hidden="true"
              style="color: #ffffff;"></i>
            Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>