---
layout: default
---
{% include header.html %}
{% include nav.html %}
<main>
  <div class="container">
    <div class="row">
      <main id="home">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="alert alert-primary mt-3" role="alert">
                <h2 class="h3 fw-bold">Hello! 👋</h2>
                <p>Welcome to our prototypes sandbox.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
{% include footer.html %}