---
layout: sites
---
{% include header.html %}
{% include nav.html %}
<main>
  <div class="container mt-4">
    <div class="row">
      <main id="home">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <h1 class="fw-bold h2 mb-4">{{ page.title }}</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <form class="float-end">
                <div class="mb-3">
                  <label for="" class="form-label visually-hidden">Search</label>
                  <input
                    type=""
                    class="form-control"
                    id=""
                    aria-describedby=""
                    placeholder="search">
                  <div id="" class="form-text"></div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="card-group">
                <div class="card mb-3">
                  <div class="card-body">
                    <span class="badge mb-3 text-bg-success">LIVE</span>
                    <h2 class="card-title h4 fw-bold">
                      <a href="#">Site name</a>
                    </h2>
                    <p class="card-text">
                      <small class="">
                        <a
                          href="https://proudcity.com"
                          target="_blank"
                          class="link-secondary link-underline link-underline-opacity-0 overflow-hidden">proudcity.com
                          <i class="fa-solid fa-up-right-from-square" aria-label="External Link"></i>
                        </a>
                      </small>
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">Manage</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Settings</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Accounts</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Payments</a>
                      </li>
                    </ul>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">Domains</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Edit</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Queue</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <span class="badge mb-3 text-bg-warning">TEST</span>
                    <h2 class="card-title h4 fw-bold">
                      <a href="#">Site name</a>
                    </h2>
                    <p class="card-text">
                      <small class="">
                        <a
                          href="https://proudcity.com"
                          target="_blank"
                          class="link-secondary link-underline link-underline-opacity-0">proudcity.com
                          <i class="fa-solid fa-up-right-from-square" aria-label="External Link"></i>
                        </a>
                      </small>
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">Manage</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Settings</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Accounts</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Payments</a>
                      </li>
                    </ul>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">Domains</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Edit</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Queue</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <span class="badge mb-3 text-bg-success">LIVE</span>
                    <h2 class="card-title h4 fw-bold">
                      <a href="#">Site name</a>
                    </h2>
                    <p class="card-text">
                      <small class="">
                        <a
                          href="https://proudcity.com"
                          target="_blank"
                          class="link-secondary link-underline link-underline-opacity-0">proudcity.com
                          <i class="fa-solid fa-up-right-from-square" aria-label="External Link"></i>
                        </a>
                      </small>
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">Manage</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Settings</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Accounts</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">Payments</a>
                      </li>
                    </ul>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">Domains</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Edit</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Queue</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
{% include footer.html %}